@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes mantener algunos estilos personalizados si los necesitas */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}